**/target
/.vscode
connectorx-python/connectorx/*.so
__pycache__
.python-version
.idea/
flamegraph.svg
perf.data
.env
.venv
.pytest_cache
data.txt
profile.pb
dask-worker-space
dist
connectorx-python/README.md
*.db
